{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "parserOptions": { "sourceType": "module", "ecmaVersion": 2015 },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "react/jsx-uses-react": 1,
    "react/react-in-jsx-scope": 0,
    "no-var": "warn",
    "no-undef-init": "off",
    "no-undef": "error",
    "no-undefined": "off",
    "no-underscore-dangle": "warn",
    "no-use-before-define": "error",
    "no-unused-expressions": "error",
    "new-cap": "warn",
    "no-plusplus": "off",
    "no-class-assign": "error",
    "no-case-declarations": "warn",
    "prefer-promise-reject-errors": "off",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/destructuring-assignment": [0, "never"],
    "react/no-did-update-set-state": "error",
    "react/jsx-fragments": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/sort-comp": 0,
    "react/static-property-placement": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-key": "warn",
    "react/prop-types": "off",
    "no-unused-vars": "warn"
  },
  "env": {
    "browser": true
  }
}
