.list-style
{
    padding: 0;
    text-align: center;
    position: relative;
    
}

.link
{    
    display: block;
    padding: 1.7em 1.5em;    
    /* color: #4c00aa; */
    color: #ffffff;       
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Avenir-Book";   
}

.link:hover
{    
    
    text-decoration:underline;
    
}

.link-active
{
    color: #4c00aa;
    background-color: #fff;
    font-family: "Avenir-Black";
}


.link-active::after, .link-active::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;    
    right: 0;
    border: #4c00aa .3em solid;        
    background-color: #4c00aa;
}

.link-active::after
{
    border-bottom-right-radius: 1em;
    transform: translate(1px, -32px);
}

.link-active::before
{    
    border-top-right-radius: 1em;
    transform: translate(1px, 36px);
}


.link-active:hover
{
    text-decoration: none;
    
}
