@font-face {
  font-family: 'Avenir-Black';
  src: url('./Avenir-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('./Avenir-Book.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('./Avenir-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Bebas';
  src: url('./BebasNeue-Regular.woff') format('woff');
}
